<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Dot Game</title>
</head>

<body>
  <div id="mainContainer">
    <!--Game Settings -->
    <div class="game-settings">
      <div class="flex-container">
        <span id="points">0</span>
        <button id="startButton"><span>START</span></button>
      </div>
      <input id="speedSlider" type="range" min="1" max="10" value="1" />
      <div id="speedDisplay">SPEED:<span class="speed-display">1</span></div>
    </div>
    <!--Game Container -->
    <div id="gameContainer"></div>
  </div>
</body>
</html>